@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shadows+Into+Light&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

.hidden {
  position: absolute;
  top: -999999px;
  opacity: 0;
}

/* header 영역 */
#header {
  width: 100%;
  height: 80px;
  top: -20px;
  opacity: 0.7;
  position: sticky;
  border-bottom: 1px solid #ddd;
  background: #fff;
  box-shadow: 0px 0px 5px 0.5px #666;
  z-index: 9999;
}
#header .inner {
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
}
#header .inner h1 {
  position: relative;
}
#header .inner h1 a {
  font: bold 30px/1px "Shadows Into Light";
  color: #b3cdda;
  letter-spacing: 3px;
}
#header .inner h1:hover a {
  color: #666;
}
#header .inner .menuweb {
  display: block;
  position: relative;
}
#header .inner .menuweb #gnb {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuweb #gnb li {
  float: left;
}
#header .inner .menuweb #gnb li a {
  display: block;
  padding: 10px;
  font: bold 14px/1 "poppins";
  color: #20292f;
  margin-left: 30px;
}
#header .inner .menuweb #gnb li a i {
  margin-left: -10px;
  font-size: 18px;
}
#header .inner .menuweb #gnb li a i:hover {
  color: #b3cdda;
}

.join {
  width: 100%;
  padding: 100px 0;
}
.join .inner {
  width: 1180px;
  margin: 0 auto;
}
.join .inner h1 {
  font: bold 80px/1.2 "Shadows Into Light";
  color: #fff;
  text-shadow: -2px 0px #b3cdda, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
  margin-bottom: 80px;
  text-align: center;
  letter-spacing: 20px;
}
.join .inner .t1 {
  border-top: 2px solid #b3cdda;
  border-bottom: 2px solid #b3cdda;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.join .inner .t1 caption {
  display: none;
}
.join .inner .t1 th, .join .inner .t1 td {
  border-bottom: 1px solid #b3cdda #b3cdda;
  padding: 15px 30px;
  font: bold 12px/1.4 "poppins";
}
.join .inner .t1 th {
  width: 20%;
}
.join .inner .t1 th input[type=reset], .join .inner .t1 th input[type=submit] {
  width: 30%;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 10px;
  font: bold 12px/40px "poppins";
  color: #666;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.join .inner .t1 th input[type=reset]:hover, .join .inner .t1 th input[type=submit]:hover {
  background: #b3cdda;
  color: #fff;
}
.join .inner .t1 td {
  border-left: 1px solid #aaa;
}
.join .inner .t1 td input[type=text], .join .inner .t1 td input[type=password], .join .inner .t1 td select {
  width: 60%;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
  font: 12px/1 "poppins";
}
.join .inner .t1 td input[type=radio], .join .inner .t1 td input[type=checkbox] {
  margin-right: 30px;
}
.join .inner .t1 td textarea {
  resize: none;
  width: 60%;
  height: 100px;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: 1px solid #aaa;
}
.join .inner .t1 td p {
  font: 12px/1 "Sans-serif";
  color: hotpink;
  margin-top: 5px;
}
.join .inner .t2 {
  width: 100%;
  border-top: 2px solid #b3cdda;
  border-bottom: 2px solid #b3cdda;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join .inner .t2 th, .join .inner .t2 td {
  border-bottom: 1px solid #b3cdda #b3cdda;
  padding: 15px 30px;
  font: bold 12px/1.4 "poppins";
}
.join .inner .t2 th {
  width: 100%;
  float: left;
}
.join .inner .t2 th input[type=reset], .join .inner .t2 th input[type=submit] {
  width: 200px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 10px;
  font: bold 12px/40px "poppins";
  color: #666;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.join .inner .t2 th input[type=reset]:hover, .join .inner .t2 th input[type=submit]:hover {
  background: #b3cdda;
  color: #fff;
}

#footer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid #333;
}
#footer .inner {
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: center;
  align-items: top;
}
#footer .inner article {
  width: 20%;
  margin-right: 20 30px;
  padding: 20px;
}
#footer .inner article:nth-of-type(3) li {
  float: left;
  margin-right: 15px;
}
#footer .inner article:nth-of-type(3) li a {
  color: #000;
}
#footer .inner article:nth-of-type(3) li a:hover {
  color: #b3cdda;
}
#footer .inner article h3 {
  font: bold 14px/1.4 "poppins";
  color: #333;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
#footer .inner article p {
  font: normal 12px/1.2 "poppins";
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#footer .inner article p input[type=email] {
  padding: 5px;
  border-color: #b3cdda;
}
#footer .inner article p a {
  background: #000;
  padding: 10px 57px;
  color: #fff;
  border-radius: 3px;
  font: bold 12px/1.2 "poppins";
}
#footer .inner article p a:hover {
  background: #b3cdda;
  color: #000;
}

/* header 영역 */
#header {
  width: 100%;
  height: 80px;
  top: -20px;
  opacity: 0.7;
  position: sticky;
  border-bottom: 1px solid #ddd;
  background: #fff;
  box-shadow: 0px 0px 5px 0.5px #666;
  z-index: 9999;
}
#header .inner {
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
}
#header .inner h1 {
  position: relative;
}
#header .inner h1 a {
  font: bold 30px/1px "Shadows Into Light";
  color: #b3cdda;
  letter-spacing: 3px;
}
#header .inner h1:hover a {
  color: #666;
}
#header .inner .menuweb {
  display: block;
  position: relative;
}
#header .inner .menuweb #gnb {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}
#header .inner .menuweb #gnb li {
  float: left;
}
#header .inner .menuweb #gnb li a {
  display: block;
  padding: 10px;
  font: bold 14px/1 "poppins";
  color: #20292f;
  margin-left: 30px;
}
#header .inner .menuweb #gnb li a i {
  margin-left: -10px;
  font-size: 18px;
}
#header .inner .menuweb #gnb li a i:hover {
  color: #b3cdda;
}

/* visual 영역 */
#visual {
  width: 100%;
  height: 1000px;
  position: relative;
  background: url(../img/visual4.png) no-repeat;
  background-size: cover;
}
#visual .wrap {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#visual .wrap .title p {
  font: 14px/1.4 "Shadows Into Light";
  letter-spacing: 5px;
  color: #666;
}
#visual .wrap .title h1 {
  font: bold 150px/1.2 "Shadows Into Light";
  color: #fff;
  letter-spacing: 1px;
  text-shadow: -2px 0px #000, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
}
#visual .wrap .artshow {
  width: 1180px;
  padding: 100px 0px 250px 0px;
}
#visual .wrap .artshow article {
  float: left;
  width: 380px;
  margin-right: 20px;
}
#visual .wrap .artshow article:nth-of-type(3) {
  margin-right: 0px;
}
#visual .wrap .artshow article h3 {
  font: bold 14px/3 "poppins";
  letter-spacing: 5px;
  color: #fff;
}
#visual .wrap .artshow article p {
  font: 12px/2 "poppins";
  color: #fff;
}
#visual .wrap .btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#visual .wrap .btn1 article {
  float: left;
  margin-right: 100px;
  padding: 20px 50px;
  font: bold 16px "poppins";
}
#visual .wrap .btn1 article:nth-of-type(1) {
  border: 2px solid #fff;
}
#visual .wrap .btn1 article:nth-of-type(1):hover {
  background-color: #000;
}
#visual .wrap .btn1 article:nth-of-type(1) a {
  color: #fff;
}
#visual .wrap .btn1 article:nth-of-type(1) a i {
  opacity: 0;
  font-size: 18px;
}
#visual .wrap .btn1 article:nth-of-type(1) a:hover i {
  opacity: 1;
  transition: 0.8s;
}
#visual .wrap .btn1 article:nth-of-type(2) {
  border: 2px solid #fff;
  margin-right: 0px;
}
#visual .wrap .btn1 article:nth-of-type(2):hover {
  background-color: #000;
}
#visual .wrap .btn1 article:nth-of-type(2) a {
  color: #fff;
}
#visual .wrap .btn1 article:nth-of-type(2) a i {
  opacity: 0;
  font-size: 18px;
}
#visual .wrap .btn1 article:nth-of-type(2) a:hover i {
  opacity: 1;
  transition: 0.8s;
}

/* product 영역 */
#product {
  width: 100%;
  height: 1400px;
  position: relative;
  background: url(../img/product3.png) no-repeat;
  background-size: cover;
}
#product .inner {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#product .inner .text p {
  font: 14px/1.4 "Shadows Into Light";
  letter-spacing: 5px;
  color: #666;
  padding: 30px;
}
#product .inner .text h1 {
  font: bold 80px/1.2 "Shadows Into Light";
  color: #fff;
  letter-spacing: 10px;
  text-shadow: -2px 0px #000, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
  margin-bottom: 50px;
}
#product .inner .pic .dirty {
  display: flex;
  justify-content: center;
  align-items: center;
}
#product .inner .pic .dirty img {
  transform: translateX(-20%);
}
#product .inner .pic .dirty img:hover {
  filter: grayscale(80%);
  opacity: 1;
}
#product .inner .pic .dirty:hover .dirty_txt {
  opacity: 1;
  transition: 0.8s;
}
#product .inner .pic .dirty .dirty_txt {
  opacity: 0;
  transform: translateX(-50%) translateY(10%);
  text-align: left;
  background-color: #fff;
  border: 1px solid #b3cdda;
  padding: 40px;
}
#product .inner .pic .dirty .dirty_txt h3 {
  font: bold 16px/2 "poppins";
}
#product .inner .pic .dirty .dirty_txt p {
  font: normal 14px/1.4 "poppins";
  margin-bottom: 20px;
}
#product .inner .pic .dirty .dirty_txt span {
  font: bold normal 14px/1.4 "poppins";
}
#product .inner .pic .dirty .dirty_txt span a {
  color: #b3cdda;
}
#product .inner .pic .twilight {
  display: flex;
  justify-content: center;
  align-items: center;
}
#product .inner .pic .twilight img {
  transform: translateX(20%);
}
#product .inner .pic .twilight img:hover {
  filter: grayscale(80%);
  opacity: 1;
}
#product .inner .pic .twilight:hover .twilight_txt {
  opacity: 1;
  transition: 0.8s;
}
#product .inner .pic .twilight .twilight_txt {
  opacity: 0;
  transform: translateX(50%) translateY(10%);
  text-align: left;
  background-color: #fff;
  border: 1px solid #b3cdda;
  padding: 40px;
  z-index: 2;
}
#product .inner .pic .twilight .twilight_txt h3 {
  font: bold 14px/1.4 "poppins";
}
#product .inner .pic .twilight .twilight_txt p {
  font: normal 14px/1.4 "poppins";
  margin-bottom: 20px;
}
#product .inner .pic .twilight .twilight_txt span {
  font: bold normal 14px/1.4 "poppins";
}
#product .inner .pic .twilight .twilight_txt span a {
  color: #b3cdda;
}

/* itemlist 영역 */
#itemlist {
  width: 100%;
  height: 1000px;
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
}
#itemlist .inner {
  width: 1180px;
  margin: 0 auto;
  padding-top: 50px;
}
#itemlist .inner .features {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}
#itemlist .inner .features p {
  font: 20px/1.4 "Shadows Into Light";
  letter-spacing: 5px;
  color: #666;
}
#itemlist .inner .features h3 {
  font: bold 80px/1.2 "Shadows Into Light";
  color: #fff;
  letter-spacing: 10px;
  text-shadow: -2px 0px #000, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
}
#itemlist .inner .wrap {
  overflow: hidden;
}
#itemlist .inner .wrap article {
  float: left;
  width: 380px;
  margin-bottom: 30px;
  margin-right: 20px;
  text-align: center;
}
#itemlist .inner .wrap article:nth-of-type(3n) {
  margin-right: 0px;
}
#itemlist .inner .wrap article h4 {
  font: bold 14px/1.2 "poppins";
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#itemlist .inner .wrap article p {
  font: normal 14px/1.2 "poppins";
  color: #666;
}

/* banner 영역 */
#banner {
  width: 100%;
  padding: 200px 0;
  background: #b3cdda;
}
#banner .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#banner .inner .wrap {
  width: 100%;
}
#banner .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#banner .inner .wrap article:nth-of-type(1) {
  width: 380px;
  height: 620px;
  float: left;
  margin-right: 20px;
}
#banner .inner .wrap article:nth-of-type(2) {
  width: 380px;
}

/* graph 영역 */
#graph {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #fff;
  margin-bottom: 50px;
}

/* footer 영역 */
#footer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  border-top: 1px solid #333;
}
#footer .inner {
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: center;
  align-items: top;
}
#footer .inner article {
  width: 20%;
  margin-right: 20 30px;
  padding: 20px;
}
#footer .inner article:nth-of-type(3) li {
  float: left;
  margin-right: 15px;
}
#footer .inner article:nth-of-type(3) li a {
  color: #000;
}
#footer .inner article:nth-of-type(3) li a:hover {
  color: #b3cdda;
}
#footer .inner article h3 {
  font: bold 14px/1.4 "poppins";
  color: #333;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
#footer .inner article p {
  font: normal 12px/1.2 "poppins";
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#footer .inner article p input[type=email] {
  padding: 5px;
  border-color: #b3cdda;
}
#footer .inner article p a {
  background: #000;
  padding: 10px 57px;
  color: #fff;
  border-radius: 3px;
  font: bold 12px/1.2 "poppins";
}
#footer .inner article p a:hover {
  background: #b3cdda;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
