@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shadows+Into+Light&display=swap');
@import "reset.scss";
@import "join.scss";

/* header 영역 */
#header {
    width: 100%;
    height: 80px;
    top: -20px;
    opacity: 0.7;
    position: sticky;
    border-bottom: 1px solid #ddd;
    background: #fff;
    box-shadow: 0px 0px 5px 0.5px #666;
    z-index: 9999;

    .inner {
        width: 100%;
        height: 60px;
        padding: 25px;
        position: relative;

        h1 {
            position: relative;

            a {
            font: bold 30px/1px 'Shadows Into Light';            
            color: #b3cdda;
            letter-spacing: 3px;
            }

            &:hover a {
                color: #666;
            }
        }

        .menuweb {
            display: block;
            position: relative;

            #gnb {
                display: block;
                // position: relative;
                position: absolute;
                right: 0;
                bottom: 0;

                li {
                    float: left;

                    a {
                        display: block;
                        padding: 10px;
                        font: bold 14px/1 'poppins';
                        color: #20292f;
                        margin-left: 30px;
                        
                        i {
                            margin-left: -10px;
                            font-size: 18px;

                            &:hover {
                                color: #b3cdda;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* visual 영역 */
#visual {
    width: 100%;
    height: 1000px;
    position: relative;
    background: url(../img/visual4.png) no-repeat;
    background-size: cover;

    .wrap {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .title {

            p {
                font: 14px/1.4 'Shadows Into Light';
                letter-spacing: 5px;
                color: #666;
            }

            h1 {
                font: bold 150px/1.2 'Shadows Into Light';
                color: #fff;
                letter-spacing: 1px;
                text-shadow: -2px 0px #000, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
            }
        }

        .artshow {
            width: 1180px;
            padding: 100px 0px 250px 0px;
            // overflow: hidden;
            // background-color: red;

            article {
                // background-color: aqua;
                float: left;
                width: 380px;
                margin-right: 20px;
                // display: inline-block;

                &:nth-of-type(3) {
                    margin-right: 0px;
                }

                h3 {
                    font: bold 14px/3 'poppins';
                    letter-spacing: 5px;
                    color: #fff;
                }

                p {
                    font: 12px/2 'poppins';
                    color: #fff;
                }
            }
        }

        .btn1 {

            display: flex;
            justify-content: center;
            align-items: center;

            article {
                float: left;
                margin-right: 100px;
                padding: 20px 50px;
                font: bold 16px 'poppins';

                &:nth-of-type(1) {
                    border: 2px solid #fff;

                    &:hover {
                        background-color: #000;
                    }

                    a {
                        color: #fff;

                        i {
                            opacity: 0;
                            font-size: 18px;         
                        }

                        &:hover i {
                            opacity: 1;
                            transition: 0.8s;
                        }
                    }
                }

                &:nth-of-type(2) {
                    border: 2px solid #fff;
                    margin-right: 0px;
                    // background-color: #fff;

                    &:hover {
                        background-color: #000;
                    }

                    a {
                        color: #fff;

                        i {
                            opacity: 0;
                            font-size: 18px;
                            
                        }
                        &:hover i {
                            opacity: 1;
                            transition: 0.8s;
                        }
                    }

                }

                
            
            }
        }

    }
}

/* product 영역 */

#product {
    width: 100%;
    height: 1400px;
    position: relative;
    background: url(../img/product3.png) no-repeat;
    background-size: cover;

    .inner {

        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .text {

            p {
                font: 14px/1.4 'Shadows Into Light';
                letter-spacing: 5px;
                color: #666;
                padding: 30px;
            }

            h1 {

                font: bold 80px/1.2 'Shadows Into Light';
                color: #fff;
                letter-spacing: 10px;
                text-shadow: -2px 0px #000, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
                margin-bottom: 50px;
            }

        }

        .pic {

            .dirty {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    transform: translateX(-20%);

                    &:hover {
                        filter: grayscale(80%);
                        opacity: 1;
                    }

                }
                &:hover .dirty_txt {
                    opacity: 1;
                    transition: 0.8s;
                }
                
                .dirty_txt {
                    opacity: 0;
                    transform: translateX(-50%) translateY(10%);
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid #b3cdda;
                    padding: 40px;

                    h3 {
                        font: bold 16px/2 'poppins';
                    }

                    p {
                        font: normal 14px/1.4 'poppins';
                        margin-bottom: 20px;
                    }

                    span {
                        font: bold normal 14px/1.4 'poppins';
                        a {
                            color: #b3cdda;
                        }
                    }
                }

            }

            .twilight {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    transform: translateX(20%);

                    &:hover {
                        filter: grayscale(80%);
                        opacity: 1;
                    }

                }

                &:hover .twilight_txt {
                    opacity: 1;
                    transition: 0.8s;
                }
                
                .twilight_txt {
                    opacity: 0;
                    transform: translateX(50%) translateY(10%);
                    text-align: left;
                    background-color: #fff;
                    border: 1px solid #b3cdda;
                    padding: 40px;
                    z-index: 2;

                    h3 {
                        font: bold 14px/1.4 'poppins';
                    }

                    p {
                        font: normal 14px/1.4 'poppins';
                        margin-bottom: 20px;
                    }

                    span {
                        font: bold normal 14px/1.4 'poppins';

                        a {
                            color: #b3cdda;
                        }
                    }
                }
            }
        }
    }
}

/* itemlist 영역 */
#itemlist {
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;

    .inner {
        width: 1180px;
        margin: 0 auto;
        padding-top: 50px;

        .features {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin-bottom: 50px;

            p {
                font: 20px/1.4 'Shadows Into Light';
                letter-spacing: 5px;
                color: #666;
            }

            h3 {
                font: bold 80px/1.2 'Shadows Into Light';
                color: #fff;
                letter-spacing: 10px;
                text-shadow: -2px 0px #000, 2px 0px #b3cdda, 0px -2px #b3cdda, 0px 2px #b3cdda;
            }
        }

        .wrap {
            overflow: hidden;
            
            article {
                float: left;
                width: 380px;
                margin-bottom: 30px;
                margin-right: 20px;
                text-align: center;

                &:nth-of-type(3n) {
                    margin-right: 0px;
                }

                h4 {
                    font: bold 14px/1.2 'poppins';
                    color: #000;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }

                p {
                    font: normal 14px/1.2 'poppins';
                    color: #666;

                }
                
            }
        }
    }
}




/* banner 영역 */
#banner {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #333;
}

/* graph 영역 */
#graph {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #fff;
    margin-bottom: 50px;
}

/* footer 영역 */
#footer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid #333;

    .inner {
        padding: 30px 20px 30px 20px;
        display: flex;
        justify-content: center;
        align-items: top;

        article {
            width: 20%;
            margin-right: 20 30px;
            padding: 20px;
            &:nth-of-type(3) {
                li {
                    float: left;
                    margin-right: 15px;
                    a { 
                        color: #000; 
                        &:hover {
                            color: #b3cdda;
                        }
                    }
                }

            }

            h3 {
                font: bold 14px/1.4 'poppins';
                color: #333;
                letter-spacing: 5px;
                margin-bottom: 10px;
            }

            p {
                font: normal 12px/1.2 'poppins';
                color: #666;
                letter-spacing: 1px;
                margin-bottom: 20px;

                input[type=email] {
                    padding: 5px;
                    border-color: #b3cdda;
                }

                a {
                    background: #000;
                    padding: 10px 57px;
                    color: #fff;
                    border-radius: 3px;
                    font: bold 12px/1.2 'poppins';
                    &:hover {
                        background: #b3cdda;
                        color: #000;
                    }
                }
            }

    }
            
        
    }
}